<section class="content content-root">
    <div class="content__inner content__inner--sm" style="max-width: 1200px;">
        <header class="content__title">
            <h1>新增武将 <small>add generals</small></h1>
        </header>

        <div class="card new-contact">
            <div class="new-contact__header">
                <a href="#" class="zwicon-camera new-contact__upload"></a>

                <img src="/static/formwork/demo/img/contacts/user_empty.png" class="new-contact__img" alt="">
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>武将名称</label>
                            <input type="text" class="form-control" placeholder="Name of the generals">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>武将英文名称</label>
                            <input type="text" class="form-control" placeholder="English name of general">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>所属国家</label>
                            <input type="text" class="form-control" placeholder="Country of origin">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>星级</label>
                            <input type="text" class="form-control" placeholder="Star">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>兵种</label>
                            <input type="text" class="form-control" placeholder="Arms">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>武将类型</label>
                            <input type="text" class="form-control" placeholder="Types of generals">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>初始武力</label>
                            <input type="text" class="form-control" placeholder="Initial force">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>初始智力</label>
                            <input type="text" class="form-control" placeholder="Initial intelligence">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>初始兵力</label>
                            <input type="text" class="form-control" placeholder="Initial Troops">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>联协</label>
                            <input type="text" class="form-control" placeholder="Entourage">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>可用战器</label>
                            <input type="text" class="form-control" placeholder="Usable weapon">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>技能</label>
                            <input type="text" class="form-control" placeholder="Skill">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>被动</label>
                            <input type="text" class="form-control" placeholder="passive">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label>援军技</label>
                    <textarea class="form-control textarea-autosize" placeholder="Reinforcements"></textarea>
                </div>

                <div class="clearfix"></div>

                <div class="mt-5 text-center">
                    <button href="#" class="btn btn-theme" style="width: 100%;">保存</button>
                </div>
            </div>
        </div>
    </div>
</section>