<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ming.ppsg.mapper.ConfigWarDeviceMapper">

	<sql id="baseColumn">
		id,
		name,
		type,
		level,
		force_val,
		intellect_val,
		troops_val
	</sql>

	<resultMap type="com.ming.ppsg.entity.ConfigWarDevice" id="configWarDeviceResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="level" column="level" />
		<result property="forceVal" column="force_val" />
		<result property="intellectVal" column="intellect_val" />
		<result property="troopsVal" column="troops_val" />
	</resultMap>

	<select id="select" resultMap="configWarDeviceResultMap" parameterType="com.ming.ppsg.entity.ConfigWarDevice">
		SELECT <include refid="baseColumn"></include> 
		FROM ppsg_config_wardevice
		order by id
	</select>

	<!--<insert id="insert" parameterType="com.ming.ppsg.entity.User">
		INSERT INTO user (
			id,
			name
		)
		VALUE (
			#{id},
			#{name}
		)
	</insert>

	<update id="update" parameterType="com.ming.ppsg.entity.User">
		UPDATE user
		<set>
			<if test="name != null and name != ''">name = #{name},</if>
		</set>
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="long">
		DELETE FROM user
		WHERE id = #{id}
	</delete>-->

</mapper>