<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ming.ppsg.mapper.ConfigGeneralsTypeMapper">

	<sql id="baseColumn">
		id,
		generals_type_name,
		force_growth,
		intellect_growth,
		troops_growth
	</sql>

	<resultMap type="com.ming.ppsg.entity.ConfigGeneralsType" id="configGeneralsTypeResultMap">
		<id property="id" column="id" />
		<result property="generalsTypeName" column="generals_type_name" />
		<result property="forceGrowth" column="force_growth" />
		<result property="intellectGrowth" column="intellect_growth" />
		<result property="troopsGrowth" column="troops_growth" />
	</resultMap>

	<select id="select" resultMap="configGeneralsTypeResultMap" parameterType="com.ming.ppsg.entity.ConfigGeneralsType">
		SELECT <include refid="baseColumn"></include> 
		FROM ppsg_config_generals_type
		order by id
	</select>

	<!--<insert id="insert" parameterType="com.ming.ppsg.entity.User">
		INSERT INTO user (
			id,
			name
		)
		VALUE (
			#{id},
			#{name}
		)
	</insert>

	<update id="update" parameterType="com.ming.ppsg.entity.User">
		UPDATE user
		<set>
			<if test="name != null and name != ''">name = #{name},</if>
		</set>
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="long">
		DELETE FROM user
		WHERE id = #{id}
	</delete>-->

</mapper>