<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ming.system.mapper.UserMapper">

	<sql id="baseColumn">
		id,
		user_name,
		password
	</sql>

	<resultMap type="com.ming.system.entity.User" id="userResultMap">
		<id property="id" column="id" />
		<result property="username" column="user_name" />
		<result property="password" column="password" />
	</resultMap>

	<select id="loadUserByUsername2" resultMap="userResultMap">
		SELECT <include refid="baseColumn"></include>
		FROM s_user
		<where>
			<if test="username != null and username != ''">user_name = #{username}</if>
		</where>
	</select>

	<select id="select" resultMap="userResultMap" parameterType="com.ming.system.entity.User">
		SELECT <include refid="baseColumn"></include> 
		FROM s_user
	</select>

	<insert id="insert" parameterType="com.ming.system.entity.User">
		INSERT INTO s_user (
			id,
			user_name,
			password
		)
		VALUE (
			#{id},
			#{username},
			#{password}
		)
	</insert>

	<update id="update" parameterType="com.ming.system.entity.User">
		UPDATE s_user
		<set>
			<if test="username != null and username != ''">user_name = #{username},</if>
			<if test="password != null and password != ''">password = #{password},</if>
		</set>
		WHERE id = #{id}
	</update>

	<delete id="delete" parameterType="long">
		DELETE FROM s_user
		WHERE id = #{id}
	</delete>

</mapper>